#immagine-lunga{
    width: 100%;
    height: 200px;
    background-image: url(img/pattern.png);
    background-size: contain;
}
#logo{
    width: 500px;
    height: 100px;
    padding-top: 50px;
}
.info{
    color: rgb(136, 136, 136);
    margin-top: 0%;
}
.evidenziato{
    background-color: yellow;
}
#table{
    padding-top: 80px;
}
#thead{
    background-color: turquoise;
}